body{  
  margin-top: 0%;
  padding-top: 5px;

  font:arial, sans-sariff;
  background:rgb(196, 200, 201);

}


html {
  font-size: 20px;
 }
 *::before {
  content: none !important;
}
.header{
  top:0;
  padding-top: 0%;
  padding-top: 25px;
  position:fixed;
  height: 50px;
  width: 100%;
  z-index: 999999;
  margin-left:0;
  text-align: center;
}

.sign-up-button{
  background: linear-gradient(45deg, rgb(189, 14, 44) and light rgb(3, 30, 48));
  color: rgb(8, 119, 133);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 4red;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-image{
  padding-top: 100px;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  animation: animate 3s linear infinite;
}
@keyframes animate{
  0%{
    filter:hue-rotate(0deg);
  }
  100%{
    filter:hue-rotate(360deg);
  }
}
.logo-image{
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 400px;
  
  
  
  
}
.navbar .navbar-collapse li{
  text-align: center;
  margin-bottom: 20px;
}
.navbar-nav > li{
  padding-right:30px;
  text-align: center;
}
.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
  text-align: center;
  color: #000;
}

.navbar ul li a {
  position: relative;
  z-index: 1;
  padding: 15px;
}
.img-box{
  width:500px;
  height: 500px;
}
.img-box img{
  width: 100%;
  height: 100%;
}

.yoga-image{
  
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  
}
.heroimagetext{
    color: #096562;
    font-size:10;
    font-family:monotype;
    padding-bottom: 20px;
}
.bodycolor{
    background-color:rgb(227, 227, 173);
}
.yogafloating{
    float:right;
}
.floated-right {
    float: right;
    display:flex;
  }
  .floated-left {
    float: left;
    display:flex;
  }
  .navbar-button{
    padding:50px;
    color: lightblue;
  }

 #menu{
  font-size: 14;
  list-style-type: none;
  letter-spacing: 3px;
  height: 20px;
 }
 #menu li{
  float: right;
 }
 #menu a{
  text-decoration: none;

 }
 #menu a:hover{
  border-bottom: #3f253c;
 }
 .nav-link{
  color:#3d513d;
 }

 .listitems{
  
  padding-left: 40px;
  color: #1f85a1;
  font-size: 16;
  font-weight: bold;
 }
 .yogatext{
  padding-left: 50px;
 }
 .benefit-img{
  height: 250px;
  width: 350px;
 }
 .types-yoga{
 
 }

 .gallary-img{
  height: 350px;
  width: 400px;

 }
 .img-gallery{
  
  
  
 
  grid-gap:30px;
 }
 .image-full{
  width:100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
 }
 .image-full img{
  height: auto;
  width: auto;
  max-width: 700px;
  max-height: 700px;
 }
 .image-full span{
  position: absolute;
  top:7%;
  right:7%;
  font-size: 30px;
  color:white;
  cursor: pointer;
 }

 .img-gallery img{
 
  cursor:pointer;
 }

 .img-gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius:20px;
  box-shadow:0 32px 75px rgba(68,77,136,0.2)
 }
 .nounderline{
  text-decoration: none;
 }

