.body{
    font:arial,times;
}
.image{
    display:block;
    margin: auto;
}
.bigtext{
    font-size: 30;
}
.heroimagetext{
    color: #926262;
    font-size:huge;
    font-family:monotype;
}
.bodycolor{
    background-color:rgb(103, 103, 102);
}
.yogafloatimg{
    float:right;
}
.floated-right {
    float: right;
    display:flex;
  }
  .floated-left {
    float: left;
    display:flex;
  }
  .navbar-button{
    padding:50px;
  }
  .background-one{
    background-color: azure;
  }
  .background-two{
    background-color: beige;
  }
  .footer-background{
    background-color:rgb(190, 185, 185);
 }
 .header-background{
    background-color: rgb(215, 227, 223);
 }
 .bg-color-name-title{
  background-color: gray;

 }